<header #header>
    <a href="#" class="logo">Food <span>.</span></a>
    <div #menuToggle class="menuToggle" (click)="toggleMenu()"></div>
    <ul #navigation class="navigation">
        <li><a href="#banner" (click)="toggleMenu()">Home</a></li>
        <li><a href="#about" (click)="toggleMenu()">About</a></li>
        <li><a href="#menu" (click)="toggleMenu()">Menu</a></li>
        <li><a href="#expert" (click)="toggleMenu()">Expert</a></li>
        <li><a href="#testeimoals" (click)="toggleMenu()">Testimonials</a></li>
        <li><a href="#contact" (click)="toggleMenu()">Contact</a></li>
    </ul>
</header>

<section class="banner" id="banner">
    <div class="content">
        <h2>Always Choose Good</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ratione magnam reprehenderit illo. Expedita dolore, exercitationem officia temporibus perspiciatis nemo rerum, odit aut, mollitia quas tempore maiores! Repudiandae, dolores earum!
        </p>
        <a href="#" class="btn">Or menu</a>
    </div>
</section>

<section class="about" id="about">
    <div class="row">
        <div class="col50">
            <h2 class="titleText"><span>A</span>Bout Us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, asperiores. Ea, molestiae inventore. Rerum alias officiis a non itaque quas, quaerat id, inventore maiores ipsam, illo veniam iure repellendus neque. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt sed incidunt omnis ducimus, accusantium, hic ab natus veritatis exercitationem delectus molestiae recusandae tenetur doloremque iure blanditiis <br><br> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda unde distinctio, repudiandae, harum odit veritatis id blanditiis maxime, hic beatae optio perferendis veniam ratione amet? Numquam, dolore iure. Quibusdam, omnis. </p>
        </div>
        <div class="col50">
            <div class="imgBx">
                <img src="./../assets/img1.jpg">
            </div>
        </div>
    </div>
</section>

<section class="menu" id="menu">
    <div class="title">
        <h2 class="titleText">Our <span>M</span>enu</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="content">
        <div class="box">
            <div class="imgBx">
                <img src="./../assets/menu1.jpg">
            </div>
            <div class="text">
                <h3>Special Salads</h3>
            </div>
        </div>
        <div class="box">
            <div class="imgBx">
                <img src="./../assets/menu2.jpg">
            </div>
            <div class="text">
                <h3>Special Soup</h3>
            </div>
        </div>
        <div class="box">
            <div class="imgBx">
                <img src="./../assets/menu3.jpg">
            </div>
            <div class="text">
                <h3>Special Pasta</h3>
            </div>
        </div>
        <div class="box">
            <div class="imgBx">
                <img src="./../assets/menu4.jpg">
            </div>
            <div class="text">
                <h3>Special Salads</h3>
            </div>
        </div>
        <div class="box">
            <div class="imgBx">
                <img src="./../assets/menu5.jpg">
            </div>
            <div class="text">
                <h3>Special Soup</h3>
            </div>
        </div>
        <div class="box">
            <div class="imgBx">
                <img src="./../assets/menu6.jpg">
            </div>
            <div class="text">
                <h3>Special Pasta</h3>
            </div>
        </div>
    </div>
    <div class="title">
        <a href="#" class="btn">View All</a>
    </div>
</section>

<section class="expert" id="expert">
    <div class="title">
        <h2 class="titleText">Our Kitchen <span>E</span>xpert</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="content">
        <div class="box">
            <div class="imgBx">
                <img src="./../assets/expert1.jpg" alt="">
            </div>
            <div class="text">
                <h3>Someone Famous</h3>
            </div>
        </div>
        <div class="box">
            <div class="imgBx">
                <img src="./../assets/expert2.jpg" alt="">
            </div>
            <div class="text">
                <h3>Someone Famous</h3>
            </div>
        </div>
        <div class="box">
            <div class="imgBx">
                <img src="./../assets/expert3.jpg" alt="">
            </div>
            <div class="text">
                <h3>Someone Famous</h3>
            </div>
        </div>
        <div class="box">
            <div class="imgBx">
                <img src="./../assets/expert4.jpg" alt="">
            </div>
            <div class="text">
                <h3>Someone Famous</h3>
            </div>
        </div>
    </div>
</section>

<section class="testeimoals" id="testeimoals">
    <div class="title white">
        <h2 class="titleText">They <span>S</span>aid About Us</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="content">
        <div class="box">
            <div class="imgBx">
                <img src="./../assets/testi1.jpg">
            </div>
            <div class="text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias labore maxime maiores distinctio? Ipsa laborum repellat ratione molestiae nulla, magnam rem</p>
                <h3>Someone Famous</h3>
            </div>
        </div>
        <div class="box">
            <div class="imgBx">
                <img src="./../assets/testi2.jpg">
            </div>
            <div class="text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias labore maxime maiores distinctio? Ipsa laborum repellat ratione molestiae nulla, magnam rem</p>
                <h3>Someone Famous</h3>
            </div>
        </div>
        <div class="box">
            <div class="imgBx">
                <img src="./../assets/testi3.jpg">
            </div>
            <div class="text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias labore maxime maiores distinctio? Ipsa laborum repellat ratione molestiae nulla, magnam rem</p>
                <h3>Someone Famous</h3>
            </div>
        </div>
    </div>
</section>

<section class="contact" id="contact">
    <div class="title">
        <h2 class="titleText"><span>C</span>contac Us</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="contactForm">
        <h3>Send Message</h3>
        <div class="inputBox">
            <input type="text" placeholder="Name">
        </div>
        <div class="inputBox">
            <input type="email" placeholder="E-mail">
        </div>
        <div class="inputBox">
            <textarea placeholder="Name"> </textarea>
        </div>
        <div class="inputBox">
            <input type="submit" value="Send">
        </div>
    </div>
</section>

<div class="copyrightText">
    <p>Copyright 2022 <a href="#">Online Tutorials</a> .All Right Reserved</p>
</div>